/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.sample-block {
    width: 60%;
    margin-left: 20%;
}

.calc-form{
    width: 80%;
    /*align-content:;*/
    margin-left: 10%;
}

.calc-line {
    width: 100%;
    border-color: #8888ff;
    border-width: 5px;
    border-radius: 3px;
    border-style: solid;
    margin-top: 100px;
}

.calc-class {
    border: none;
}

.calc-input {
    width: 80%;
    padding: 8px;
    font-size: 14pt;
}

.calc-button {
    padding-bottom: 2px; /*Otherwise a white line appears*/
    width: 20%;
    min-width: 100px;
    background-color: #8888ff;
    color: white;
    font-size: 17.5px;
    padding: 10px;
    font-size: 14pt;
}

.calc-button:hover {
    /*background-color: white;
    color: #8888ff;*/
}

.calc-block {
    text-align: center;
    border: solid 1px gray;
    border-radius: 3px;
    padding: 7px;
    /*
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    */
    margin-top: 6px;
}

.calc-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.staticoutput
{
    color: black;
    background-color: white;
    width: 100%;
}

#examplecalc {
    color: #8888ff;
    font-weight: bold;
}

#examplecalc:hover {
    color: gray;
    cursor: copy;
}

#bool-res {
    border: 1px solid gray;
    border-radius: 2px;
    width: 30%;
    margin-left: 35%;
}

#bool-res .cellbool-res {
    border: 1px solid gray;
}

.asc-button {
    border: 1px solid #8888ff;
    border-radius: 3px;
    color: #8888ff;
    font-size: 8pt;
    padding: 2px;
    margin-left: 4px;
    cursor: pointer;
}

.asc-button:hover
{
    background-color: #8888ff;
    color: white;
}

.big-asc-button {
    font-size: 11pt;
    padding: 4px;
}

.jax-output {

}