.asc-button {
    font-size: 8pt;
    font-weight: bold;
    padding: 3px;
    color: #8888ff;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
}

.asc-button:hover {
    background-color: #8888ff;
    color: white;
}

.big-asc-button {
    font-size: 10pt;
    padding: 4px;
}

.huge-asc-button {
    font-size: 13pt;
    padding: 6px;
    text-align: center;
}

.div-container {
    display: table-cell;
    max-width: 1000px;
}

.msl-sample-block {
    display: table-cell;
    width: 5%;
}

#bool-res {
    width: 30%;
    margin-left: 35%;
    border-radius: 3px;
}

#bool-res tr {
    border: 1px solid gray;
}

.contributor-list {
    margin-top: 20%;
}

.edit-field {
    width: 80%;
    margin-left: 10%;
    padding: 1px;
}