.asc-button {
    font-size: 8pt;
    font-weight: bold;
    padding: 3px;
    color: #8888ff;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
}

.asc-button:hover {
    background-color: #8888ff;
    color: white;
}

.big-asc-button {
    font-size: 10pt;
    padding: 4px;
}


.div-inline {
    display: inline-block;
}

.div-to-left {
    float: left;
    position: relative;
}

.div-to-right {
    float: right;
    position: relative;
} 