.asc-button {
    font-size: 8pt;
    font-weight: bold;
    padding: 3px;
    color: #8888ff;
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
    cursor: pointer;
    margin: 3px;
}

.asc-button:hover {
    background-color: #8888ff;
    color: white;
}

.big-asc-button {
    font-size: 10pt;
    padding: 4px;
}

.huge-asc-button {
    font-size: 13pt;
    padding: 6px;
    text-align: center;
}

.code-editor-container {
    display: table-cell;
    max-width: 1000px;
    height: 600px;
}

.horizontal-align-container {
    display: table-cell;
    width: 5%;
}

.inlined-block {
    display: inline-block;
}

#bool-res {
    width: 30%;
    margin-left: 35%;
    border-radius: 3px;
}

#bool-res tr {
    border: 1px solid gray;
}

.contributor-list {
    margin-top: 20%;
}

.CodeMirror {
    width: 100%;
    height: 100%;
}

.edit-field {
    width: 80%;
    margin-left: 10%;
    padding: 1px;
    font-family: monospace !important;
}

main pre code {
    color: #8888ff;
}

.live-example-title {
    width: 30%;
    margin: 5px;
    margin-left: 10%;
}

#projects-header {
    text-align: center;
    font-weight: 400;
}

.centered {
    text-align: center;
}

.project-box {
    display: inline-flex;
    margin: 3%;
    width: 25em;
    height: 12.5em;
    vertical-align: top;
    background-size: cover;
    border-radius: 5pt;
    border: 2pt;
    background-color: black;
    max-width: 75%;
}

.project-name {
    margin: 0;
    color: white;
    font-size: 20px;
    padding-left: 5pt;
}

.project-name:hover {
    color: white;
}