.calc-form {
    width: 80%;
    margin-left: 10%;
}

.text-center {

}

.calc-line {
    
}

.calc-class {

}

.calc-input {
    border: 3px solid;
    border-color: #8888ff;
    width: 100%;
    border-radius: 3px;
    padding: 6px;
}

.calc-button {

}

.calc-block {
    text-align: center;
    border: solid 1px gray;
    border-radius: 3px;
    margin-top: 5px;
    padding: 10px;
}

.calc-title {
    font-weight: bold;
}

.sample-block {
    
}

#examplecalc {
    color: #8888ff;
    font-weight: bold;
    cursor: pointer;
}

#examplecalc:hover {
    color: gray;
}

.asc-calc-title {
    text-align: center;
    margin: 40px;
    font-size: 50pt;
    color: #8888ff;
    font-family: "Courier New";
}

.asc-calc-title img {
    max-width: 13%;
}