/ascsite/bin/
/ascsite/obj/
/ascsite/.vs/
/ascsite/Logs/
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/asc-community-dev/v16/.suo
/.vs/VSWorkspaceState.json
/ascsite/wwwroot/.well-known/acme-challenge/web.config
/ascsite/.well-known/acme-challenge/fSxBg2eDCAwiG7ip-5iG3iJ05FOuEAziIGMVroY8oWg
/ascsite/.well-known/acme-challenge/dsf
/ascsite/.well-known/acme-challenge
