@page
@model PrivacyModel
@{
    ViewData["Title"] = "Angourisoft community";
}
<h1>@ViewData["Title"]</h1>

<p>The world is getting dramastically better, but who improves it? That small bunch of people whom we call "scientists." TODO</p>
