@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASC community!</h1>
    <p>We are here to populate math and solve complicated problems.</p>
    <p>@Model.Time</p>
</div>
