@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" type="text/css" href="/css/styles.css">

<div class="text-center">
    <h1 class="display-4">Welcome to ASC community!</h1>
    <p class="centered">
        ASC is a non-commercial organization whose goal is to solve complicated problems and develop modern science. <br>
        We also develop multiple scientific, graphic, or entartainment open-source applications
    </p>
</div>

<h2 id="projects-header">Our Projects</h2>

<div class="horizontal-align-container centered">
    @foreach (var project in Model.Projects)
    {
        <a href=@project.ProjectLink class="project-link">
            <div style="background-image: url(@project.ImagePath)" class="project-box">
                <text class="project-name">@project.Name</text>
            </div>
        </a>
    }
</div>

<hr>
<p class="centered">
    So far, the project is open-source and available <a href="https://github.com/Angourisoft/asc-community">here</a>.<br>
    You can join our <a href="https://discord.gg/mzxUzpu">discord server</a> if you are interested in this project. Feel free to contribute!<br>
    If you have any questions or ideas, please contact us contact@asc-community.org
</p>

<script language="javascript" src="~/index/index.js"></script>