@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://momentjs.com/downloads/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/styles.css">

<div class="text-center">
    <h1 class="display-4">Welcome to ASC community!</h1>
    <p>ASC is a non-commercial organization whose goal is to solve complicated problems and develop modern science.</p>
    <p id="timeDisplay"></p>
</div>

    <script type="text/javascript">
        setInterval(function displayCurrentTime() {
            document.getElementById("timeDisplay").innerHTML = moment().format('MMMM Do YYYY, h:mm:ss a');
        }, 1000);
    </script>

So far, the project is open-source and available <a href="https://github.com/Angourisoft/asc-community">here</a>.<br>
Our discord server is located <a href="https://discord.gg/mzxUzpu">here</a>. If you have any questions connected with math or computer science - you are welcome!
